- if @list.name
  #title
    %h3= @list.name
  %form
    #inputField{style: "display:none;"}
      %input#textInput{type: "text", value: @list.name, name: "new_name"}
      %button(type="submit") Change Name
  %a{href: "#", onclick: "document.getElementById('inputField').style.display = 'block'; "} Edit
- else
  %form
    #inputField{style: "display:block;"}
      %input#textInput{type: "text", value: @list.name, name: "new_name"}
      %button(type="submit") Add Name
- @list_items.each do |item|
  %li
    = item.item
    %a{href: "/delete_item/#{item.id}"} x
%p
  %form
    %input(name="new_item")
    %button(type="submit") Add